
/*.login-link {*/
  /*color: orange;*/
/*}*/
/*.footer-social{*/
  /*background-color: red;*/
/*}*/
body{
    font-size: 14px;
    font-family: Myriad Pro, Arial, sans-serif;
    text-transform: uppercase;
}