
body{
    margin: 0;
    padding: 0;
    min-width: 1200px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:#000000;
    background-color: #ffffff;

}

html{ box-sizing: border-box;}
*, *::before, *::after{box-sizing: inherit;}
img{max-width: 100%;}

a{
    text-decoration: none;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
}
.main-header{
    background-color: #eeeeee;
    height: 100px;
}

/*.main-header{*/
    /*background-color: #eeeeee;*/
/*}*/

/*.navigation-panel{*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*padding-top: 48px;*/
    /*padding-bottom: 0;*/
    /*margin-bottom: 0;*/
/*}*/

/*.logo-container{*/
    /*width: 160px;*/
    /*height: 65px;*/
    /*align-self: flex-start;*/
/*}*/
/*.main-navigation{*/
    /*display: flex;*/
    /*align-items: center;*/
    /*width: 800px;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/


/*.main-navigation a{*/
    /*color:#000000;*/
    /*margin-right: 45px;*/
    /*margin-left: 1px;*/
    /*margin-top: 14px;*/
/*}*/
/*.main-navigation a:nth-child(2){*/
    /*margin-right: 47px;*/
/*}*/
/*.main-navigation a:nth-child(4){*/
    /*margin-right: 283px;*/
/*}*/

/*.main-logo:hover,*/
/*.main-logo:focus{*/
    /*opacity: 0.8;*/
/*}*/
/*.main-logo:active{*/
    /*opacity: 0.3;*/
/*}*/

/*.main-navigation a:hover*/
/*{*/
    /*color:#fb565a ;*/
/*}*/
/*.main-navigation a:active*/
/*{*/
    /*color: #a6a6a6;*/
/*}*/
/*Slider*/
.slider{
    position: relative;

    background-color: #eeeeee;
}

.slider-controls{
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 100;
    width: 160px;
    height: 18px;
     text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}

.slider-controls i {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 28px;
    padding: 16px;

    border-radius: 50%;
    cursor: pointer;

    background-color: red;
}
.slider-controls i::after{
    content: "";

    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 1;
    
    width: 18px;
    height: 18px;

    background: #ffffff;
    border-radius:  50%;
}

.slider-controls .active::before{
    content: "";
    left: 50%;
    top:50%;
    z-index: 2;

    width: 4px;
    height: 4px;
    margin: -4px;

    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.services-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-item{
    display: none;
    padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
    display: block;
}
.slider-item:nth-child(1) {
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position: 93% 18px;
}
.slider-item:nth-child(2) {
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}
.slider-item:nth-child(3) {
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-position: 100% 20px;
}



.slider-item h3 {
    max-width: 600px;
    margin: 0;
    margin-bottom: 27px;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.slider-item p{
    max-width: 430px;
    margin: 0;
    margin-bottom: 38px;
}

.button{
    display: block;
    width: 240px;
    padding: 13px 0;

    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

    background-color: #fb565a;
    border-radius: 3px;
    border: none;
}

.button:hover,
.button:focus{
    background-color: #e74246;
}

.button:active{
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}




 /*.slider-item2,*/
 /*.slider-item3{*/
    /*display: none;*/
/*}*/
/*.slider-item1*/
/*{*/
    /*display: flex;*/
    /*justify-content: flex-start;*/
    /*align-items: flex-start;*/
/*}*/
/*.slider-text{*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: flex-start;*/
/*}*/


/*.slider-img{*/
    /*padding-top: 10px;*/
    /*padding-left: 47px;*/
/*}*/


/*.slider{*/
    /*background-color: #eeeeee;*/
/*}*/
/*.slider-top{*/
  /*font-size: 55px;*/
    /*line-height: 55px;*/
    /*font-weight: 500;*/

    /*margin-top: 78px;*/
/*}*/
/*.btn-red{*/
    /*display: block;*/
    /*font-weight: 500;*/
    /*color: #ffffff;*/
    /*background-color: #fb565a;*/
    /*padding: 14px 55px;*/
    /*margin-bottom: 80px;*/
/*}*/
/*.slider-text{*/
    /*padding-bottom: 20px;*/
/*}*/
/*.btn-red:hover{*/
    /*background-color: #e74246;*/
/*}*/
/*.btn-red:active{*/
    /*background-color: #d7373b;*/
    /*color: #e37376;*/
/*}*/

/*.slider-input,*/
/*.toggle{*/
    /*display: none;*/
/*}*/
      /*Услуги*/

.services-list{
    display: flex;
    justify-content: flex-start;
    background-color: #ffffff;
    margin-top: 80px;
    border-bottom: 2px solid #eeeeee;
}
.services-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
    height: 430px;
}
.services-item:first-child{
    margin-left: 0;
}
.services-item a:nth-of-type(2){
    order: -1;
}
.services-item a:first-child{
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #000000;
    margin-top: 21px;
}
.btn-order{
    font-weight: 500;
    line-height: 18px;
    color: #ffffff;
    padding: 15px 30px;
    margin-top: 17px;
    border-radius: 2px;

}

.btn-order-red{
   background-color: #fb565a;
    color: #ffffff ;
}
.btn-order-red:hover{
    background-color: #e74246;
    color: #ffffff ;
}
.btn-order-red:active{
    background-color:#d7373b;
    color: #e37376;
}
.btn-order-green{
    background-color:#00ca74 ;
    color: #ffffff ;
}
.btn-order-green:hover{
    background-color:#00bc6c ;
    color: #ffffff ;
}
.btn-order-green:active{
    background-color:#00aa62 ;
    color:#4dc491 ;
}
.btn-order-yellow{
    background-color:#efc84a;
    color: #ffffff ;
}
.btn-order-yellow:hover{
    background-color:#efc84a ;
    color: #ffffff ;
}
.btn-order-yellow:active{
    background-color: #e5a722;
    color:#edc265 ;
}
/*ДИЗАЙН СТУДИЯ ИЗ КРАСНОДАРА*/
.studio-post{
    font-size: 45px;
    line-height: 45px;
}
dt{
    font-weight: bold;
}
table caption{
  font-weight: bold;
    line-height: 18px ;
}
th {
    font-size: 45px;
    font-weight: bold;
}
.partners-logo li{
    display: inline-block;
    list-style: none;
    opacity: 0.5;

}
.partners-logo li:hover{
    opacity: inherit;
}

.partners-logo li:active{
    opacity: 0.2;
}
                /*Всплываюший банер с обратной связью*/
.footer-studio{
font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}
.footer-loc,
.footer-tel{
    line-height: 18px;
}
.button-write{
    font-weight:500;
    color: #ffffff;
    background-color: #fb565a;
}

                /*Напишите нам*/
.feedback-close{
    background-image: url("../img/close-cross.svg") ;
    background-repeat: no-repeat;
    opacity: 0.5;
    height: 24px;
    width: 25px;
    border: transparent;
    text-align: center;
}
.feedback-close:hover{
    opacity: 1.0;
}
.feedback-close:active{
    opacity: 0.2;
}
.feedback p{
  font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}
.feedback label{
    font-weight: bold;
line-height: 18px;
}
input{
    border: 2px solid #000000 ;
}
textarea
{
    line-height: 18px;
    border: 2px solid #000000 ;
    border-radius: 2px;
    opacity: 0.2;
}
.feedback-forms-item input:hover,
textarea:hover{
    opacity: 0.5;
}
.feedback-forms-item input:focus,
textarea:focus{
    opacity: 1.0;}
input:invalid{
    border: 2px solid #ef8184;
    color: #ef8184;
}


                  /*footer social*/
.social-media li{
    list-style: none;
    display: inline-block;
}
.social-media a {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
    background-color: #e1e1e1;
}
.social-media svg{
    position: relative;
    top: 30px;
}
.social-media svg:active path{
    fill: #e37376 ;
}
.social-media svg:focus path{
    fill: #e37376 ;
}
.social-media a:active,
.social-media a:focus{
    background-color:#d7373b;
}
.social-media a:hover{
    background-color: #e74246;
}

.social-friendship h3{
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
}
.social-friendship p{
    font-size: 16px;
}
       /*catalog*/
.ready-shop{
    background: #eeeeee;
}
.page-title{
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
}
.cost,
.subtitle,
.product-filters legend{
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}
.sorting-list{
    list-style: none;
}
.sorting-link{
    display: block;
}
.sorting-link{
   font-size: 14px;
    line-height: 18px;
    color: #000000;
    opacity: 0.2;
}
.sorting-link:hover{
    color: #000000;
  opacity: 0.5;
}
.sorting-link:active{
    color: #000000;
    opacity: 1;
}
.product-filters ul{
    list-style: none;
}
.product-filters fieldset{
    border: none;
}
.filter-input+label{
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
}
.filter-input:hover+label,
.filter-input:focus+label {
    color: #000000;
    opacity: 1;
}
.filter-input:disabled+label{
    color: #000000;
    opacity: 0.2;
}
.btn-filters{
    background-color: #eeeeee;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    border-radius: 2px;
}
.btn-filters:hover{
    background-color:#dfdfdf ;
}
.btn-filters:active,
.btn-filters:focus{
    background-color: #d5d5d5;
    color: #000000;
    opacity: 0.5;
    border-top: 2px solid #bfbfbf;
}
               /*Карточки каталога   */

.catalog-item-price{
    background-color:#eeeeee ;
}
.catalog-item-price h3{
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}
.catalog-item-price p{
    line-height: 18px;
    color: #a9a9a9;
}
.catalog-item-price a{
    background-color:#fb565a;
    color: #ffffff;
    font-weight: 500;
    line-height: 18px;
}
.browser svg path:hover{
    fill: #e9e9e9 ;
}
.catalog-item-price a:hover{
  background-color: #e74246;
 }
.catalog-item-price a:active,
.catalog-item-price a:focus{
    background-color:#d7373b ;
}
.pagination-list{
    padding-top: 5px;
}
.pagination-list a{
    display: inline-block;
    vertical-align: bottom;
    min-width: 50px;
    height: 50px;
    font-size: 16px;
    line-height: 18px;
    padding-top: 15px;
    font-weight: 500;
    background-color: #eeeeee;
    border-radius: 2px;
    color: #000000;
}
.pagination-list a:hover{
    background-color:#dfdfdf ;
}
.pagination-list a:active,
.pagination-list a:focus{
    background-color: #d5d5d5;
    color: #000000;
    opacity: 0.5;
    border-top: 2px solid #bfbfbf;

}
.pagination-list .current{
    background-color: #ffffff;
    border: 2px solid #dfdfdf;

}



